<div class="">
   <footer>This is Fred&reg; website 2017</footer>
</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>

</html>
