<% include partials/header %>

   <h1>Welcome to my Camp ground</h1>
   <a href="/campgrounds">click here to see our camps</a><br>
   <a href="/campgrounds/new">create another camp</a>

   <% include partials/footer %>
