<% include partials/header %>
<h1>log in here</h1>

<form class="" action="/login" method="post">
   <input type="text" name="username" placeholder="username">
   <input type="password" name="password" placeholder="password">
   <button type="password" name="button">Submit</button>
</form>

<% include partials/footer %>
